/** {
  border: 1px solid red;
}*/

body {
  height: 100%;
  margin: 0;
  /*background-image: linear-gradient(black, blue);*/
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background: url('../images/small_stars.svg'), linear-gradient(black, #00BFFF);
  background-attachment: fixed;
}

p {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  margin-top: 30px;
  font-family: 'Lobster', cursive;
  font-size: 40px;
  text-align: center;
}

#menu {
  display: none;
  background-color: #628160;
  font-family: 'Open Sans', sans-serif;
}

#menu a {
  color: #FFFFF0;
}

#menu li a:hover {
  background-color: #755C3B;
}

#menu ul li a {
  border-bottom-color: #FFFFF0;
}

/* menu left border set to none */
.right-small {
  border-left: none;
}

.social {
  position: absolute;
  top: 5px;
  right: 3.5em;
}

.fa-linkedin-square, .fa-facebook-square {
  color: #A6D4FD;
}

/* menu icon line color */
.tab-bar .menu-icon span::after {
  box-shadow: 0 0 0 2px #A6D4FD, 0 7px 0 2px #A6D4FD, 0 14px 0 2px #A6D4FD;
}

/*.modal {
  height: 100vh;
  width: 100vw;
  background-color: red;
  opacity: 
}*/

.section {
  position: relative;
  top: 0px;
}

.tab-bar {
  background: url('../images/cloud.svg');
  background-repeat: repeat-x;
  height: 160px;
}

.tab-bar a {
  color: black;
}

.tab-bar-section a {
  font-family: 'Lobster', cursive;
  font-size: 30px;
  color: #A6D4FD;
}

.tab-bar-section h1 {
  text-align: left;
}

/* ///////////// HOME SECTION ///////////// */

#home {
  background-position: ;
  padding-top: 100px;
  height:100vh;
  width: 100vw;
}

#home h1 {
  margin-top: 60px;
}

.intro_text h1, p {
  color: white;
  margin-left: 20px;
  text-align: left;
}

#home .row:nth-child(2) {
  /*background-color: red;*/
}

.moon {
  position: fixed;
  right: 20px;
  top: 80px;
  width: 80px;
}

.mikeSpaceSuit {
  /*position: relative;*/
  /*right: 20px;*/
  /*width: 190px;*/
  /*background-color: red;*/
  /*margin-right: 30px;*/
}

.homeNav {
  margin-left: 10px;
}

.homeShit {
  margin: 0 auto;
}

.worksBtn {
  margin-left: 20px;
  display: block;
  background-color:;
}

/* ///////////// WORKS SECTION ///////////// */

section#works {
  height: 100vh;
  width: 100vw;
  text-align: center;
  padding-top: 100px;
}

#works .row:nth-child(1) h1 {
  color: #FFFFF0;
  margin-top: 60px;
}

#works .row:nth-child(1) p {
  color: #FFFFF0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-variant: small-caps;
}

/* ///////////// BADGES SECTION ///////////// */


section#badges {
  width: 100vw; 
  height: 100vh;
}

.cloud_img {
  height: 200px;
  width: 100px;
}

#badges .row:nth-child(1) h1 {
  color: #FFFFF0;
  font-size: 32pt;
  margin-top: 60px;
}

.badges h1 {
  margin-top: 55px;
  font-size: 24pt;
  text-align: left;
  color: #755C3B;
}

#badges .row:nth-child(1) p {
  color: #FFFFF0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-variant: small-caps;
}

/* ///////////// ABOUT SECTION ///////////// */

section#about {
  height: auto;
  width: 100vw;
}

#about .row:nth-child(1) h1 {
  color: #FFFFF0;
  font-size: 32pt;
  margin-top: 60px;
}

#about .row:nth-child(2) .columns {
  margin-bottom: 40px;
  margin-top: 20px;
}

#about .row:nth-child(1) p {
  color: #FFFFF0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-variant: small-caps;
}

/* ///////////// RAFT IMAGE SECTION ///////////// */

#raftImage {
  position: relative;
  top: 30px;
  /*background-color: red;*/
  width: 100vw;
}

.waveImage {
  height: 40px;
  background: url('../images/blackWave.png');
  background-size: 100px;
  /*background-repeat: repeat-x;*/
  min-width: 100%;
}

.mikeTelescope {
  height: 130px;
  margin-left: 10px;
  position:relative;
  bottom: -15px;
}

/* ///////////// CONTACT SECTION ///////////// */

input {
  width: 140px;
}

section#contact {
  height: auto;
  /*width: 100vw;*/
  /*padding-top: 100px;*/
  /*background: url('../images/blackWave.svg');*/
  background-color: #000;
  /*background-repeat: repeat-x;*/
  background-size: 130px;
}

#contact h1 {
  padding-top: 0px;
  margin-top: 0px;
}

.phone {
  text-align: center;
  color: white;
}

.phone-number {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
}

#contact .row:nth-child(1) h1 {
  color: yellow;
  font-size: 32pt;
}

#contact .row:nth-child(3) form {
  padding: 20px;
}

.submit-btn {
  text-align: center;
  -o-filter: drop-shadow(9px 9px 9px rgba(0,0,0,0.5));
  -moz-filter: drop-shadow(9px 9px 9px rgba(0,0,0,0.5));
  -webkit-filter: drop-shadow(9px 9px 9px rgba(0,0,0,0.5));
}

.submit-btn button {
  background-color: #628160;
}

.submit-btn button:hover {
  background-color: #755C3B;
}

.row label {
  font-family: 'Open Sans', sans-serif;
}

/* ///////////// TOP BAR ///////////// */

.top-bar {
  margin-top: 0px;
}

.top-bar-section {
  margin-bottom: 0px;
}

/* ///////////// MEDIA QUERY ///////////// */

@media screen and (min-width: 450px) {
  #home {
    /*background-size: cover;*/
    /*height: 50vh;*/
  }

  }

  .intro-text p:nth-child(3) {
    display: block;
  }

  .intro-text p:nth-child(2) {
    visibility: hidden;
    display: none;
  }

  section#works {
  }

  .pic {
    height: 100%;
    width: 100%;
  }

  section#badges {
    height: auto;
    width: 100vw;
    background:;
  }

  #badges .row:nth-child(1) h1 {
    font-size: 60px;
  }

	section#about {
		height: 100vh;
		width: 100vw;
	}

	section#contact {
		width: 100vw;
	}

  #home .row:nth-child(1) {
    /*padding-top: 20px;*/
  }
}

@media screen and (min-width: 960px) {
    #home {
    }
  }

/* ///////////// RIGHT-OFF-CANVAS-MENU ///////////// */


.fixed, .right-off-canvas-menu {
    z-index: 1003;
}
.move-left .right-off-canvas-menu {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    right: 0;
}
.right-off-canvas-menu {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    left: 100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-top: 45px;
}
.move-left>.inner-wrap {
    -webkit-transform: none;
    transform: none;
}
.move-left a.exit-off-canvas {
    -webkit-transition: none;
    transition: none;
}

.off-canvas-wrap.move-right, .off-canvas-wrap.move-left {
    min-height: 0;
}
